<% layout("/layouts/boilerplate.ejs") %>
<body>
    <br>
    <div class="row">
    <form method="post" action="/listings"  enctype="multipart/form-data" class="needs-validation" >
        <div class="col-8 offset-2">
            <h3>Create new listing</h3>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" placeholder="enter catchy title" required>
                <div class="valid-feedback">Title looks good</div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" placeholder="enter description" required></textarea>
                <div class="invalid-feedback">Please enter a short description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" class="form-control" placeholder="enter image link">
                
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input  name="listing[price]" class="form-control" placeholder="1200" required>
                    <div class="invalid-feedback">Price is required</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" class="form-control" placeholder="India" required>
                    <div class="invalid-feedback">Country should be valid</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" class="form-control" placeholder="Rajasthan , India" required>
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            <button class="btn btn-dark add-btn">Add</button>
        </div>
    </form>
    </div>
    <br>
</body>
